<div class="contact-computer contact-button hidden-sm-down">
    <div href="" class="btn btn-phone hidden-sm-down btn-contact">{{ garage.phone }}<i class="fa fa-phone"></i></div><br>
    <div href="" class="btn btn-envelope hidden-sm-down btn-contact">{{ garage.email }}<i class="fa fa-envelope" aria-hidden="true"></i></div><br>
    <div href="http://maps.google.com/?q={{ garage.roadNumber~" "~garage.road~", "~garage.postalCode~" "~garage.city}}"
       class="btn btn-map btn-contact" target="_blank">Google Maps<i class="fa fa-map-marker"></i></div><br>
</div>
<div class="contact-phone contact-button hidden-md-up">
    <a href="tel:{{ garage.phone }}" class="btn btn-phone"><i class="fa fa-phone"></i></a><br>
    <a href="mailto:{{ garage.email }}" class="btn btn-envelope"><i class="fa fa-envelope" aria-hidden="true"></i></a><br>
    <a href="http://maps.google.com/?q={{ garage.roadNumber~" "~garage.road~", "~garage.postalCode~" "~garage.city}}"
       class="btn btn-map" target="_blank"><i class="fa fa-map-marker"></i></a>
</div>
