<div class="col-12 col-sm-6 col-md-4 col-lg-4 mb-r">
    <div class="testimonial">
        <div class="avatar">
            <img src="{{ asset(employee.image.webPath) }}"
                 class="rounded-circle img-fluid">
        </div>
        <h4>{{ employee.name }} {{ employee.lastname }}</h4>
        <h5>{{ employee.jobTitle }}</h5>
        <p>{{ employee.description }}</p>
    </div>
</div>