<header class="renault-nav">
    <ul id="slide-out" class="side-nav custom-scrollbar">
        <li>
            <div class="logo-wrapper waves-light">
                <a href="#"><img src="{{ asset('media/design/Menu-mobile-Logo.png') }}" class="img-fluid flex-center"></a>
            </div>
        </li>

        <li>
            <ul class="collapsible collapsible-accordion">
                <li>
                    <a class="collapsible-header waves-effect" href="{{ path("homepage") }}">Accueil</a>
                </li>
                <li>
                    <a class="collapsible-header waves-effect" href="{{ path("voitures") }}">Voitures</a>
                </li>
                <li>
                    <a class="collapsible-header waves-effect" href="{{ path("promotions") }}">Promotions</a>
                </li>
                <li>
                    <a class="collapsible-header waves-effect" href="{{ path("articles") }}">Articles</a>
                </li>
                <li>
                    <a class="collapsible-header waves-effect" href="{{ path("contact") }}">Contact</a>
                </li>
            </ul>
        </li>
    </ul>

    <nav class="navbar fixed-top navbar-toggleable-sm navbar-dark scrolling-navbar double-nav">
        <div class="d-flex justify-content-between hidden-md-up head-mobile-nav">
            <a href="#" data-activates="slide-out" class="button-collapse"><i class="fa fa-bars"></i></a>
            <span class="navbar-brand">Garage HERITIER</span>
        </div>

        <div class="container justify-content-between hidden-sm-down">
            <div class="d-flex justify-content-start">
                <ul class="nav navbar-nav">
                    <li class="navbar-brand">
                        Garage HERITIER
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path("homepage") }}">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path("voitures") }}">Voitures</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path("promotions") }}">Promotions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path("articles") }}">Articles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path("contact") }}">Contact</a>
                    </li>
                </ul>
            </div>
            <a href="https://www.renault.fr/"><img id="white-logo" class="dd-right hidden-xs-up" height="30" src="{{ asset("media/design/logos/Logo-Renault-Negative-Baseline.png") }}" alt="">
                <img id="black-logo" class="dd-right" height="30" src="{{ asset("media/design/logos/Logo-Renault-Positive-Baseline.png") }}" alt=""></a>
        </div>
    </nav>
</header>

<!--<nav class="navbar fixed-top navbar-toggleable-md navbar-dark scrolling-navbar">
    <div data-activates="mobile-menu" class="button-collapse">
        <a href="#"><i class="fa fa-bars"></i><div class="float-xs-right">Garage HERITIER</div></a>
    </div>

    <div class="navbar-desktop container d-flex justify-content-between">

        <div class="d-flex justify-content-start">
            <a class="navbar-brand" href="{{ path("homepage") }}">
                Garage HERITIER{# <img class="" height="30" src="{{ asset("/media/design/renault-logo.png") }}" alt="Logo Renault">#}
            </a>

            <ul class="nav navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path("homepage") }}">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path("voitures") }}">Voitures</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path("promotions") }}">Promotions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path("articles") }}">Articles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path("contact") }}">Contact</a>
                </li>
            </ul>
        </div>
        <a href="https://www.renault.fr/"><img id="white-logo" class="dd-right hidden-xs-up" height="30" src="{{ asset("media/design/logos/Logo-Renault-Negative-Baseline.png") }}" alt="">
        <img id="black-logo" class="dd-right" height="30" src="{{ asset("media/design/logos/Logo-Renault-Positive-Baseline.png") }}" alt=""></a>
    </div>



    <div class="navbar-mobile">
        <ul class="side-nav blue light-side-nav" id="mobile-menu">
            <div class="logo-wrapper waves-light">
                <a href="{{ path("homepage") }}" class="flex-center">
                    <img src="{{ asset("media/design/Menu-mobile-Logo.png") }}" class="img-fluid flex-center">
                </a>
            </div>
            <ul class="social">
                <li><a class="icons-sm fb-ic" href=""><i class="fa fa-facebook"> </i></a></li>
                <li><a class="icons-sm gplus-ic" href="" rel="publisher"><i class="fa fa-google-plus"> </i></a></li>
            </ul>
            <ul class="collapsible collapsible-accordion">
                <li>
                    <a class="collapsible-header waves-effect" href="{{ path("homepage") }}">Accueil</a>
                </li>
                <li>
                    <a class="collapsible-header waves-effect" href="{{ path("voitures") }}">Voitures</a>
                </li>
                <li>
                    <a class="collapsible-header waves-effect" href="{{ path("promotions") }}">Promotions</a>
                </li>
                <li>
                    <a class="collapsible-header waves-effect" href="{{ path("articles") }}">Articles</a>
                </li>
                <li>
                    <a class="collapsible-header waves-effect" href="{{ path("contact") }}">Contact</a>
                </li>
            </ul>
        </ul>
    </div>
</nav>-->