<div class="col-md-6 col-lg-4">
    <div class="card">

        <img class="img-fluid" src="{{ asset(promotion.image.webPath) }}" alt="Card image cap">

        <div class="card-block">

            <h4 class="card-title">{{ promotion.title }}</h4>

            <p class="card-text">{{ promotion.description }}</p>

            {% if promotion.promotion and promotion.promotion.endDate|date('d-M-Y') >= "now"|date('d-M-Y') %}
                <p class="text-center first-color">{{ promotion.promotion.discount }}
                    jusqu'au {{ promotion.promotion.endDate|date('d/m/Y') }}</p>
            {% endif %}
            <a href="#" class="btn btn-renault-primary">J'en profite !</a>
        </div>

    </div>
</div>