{% extends ':site-structure:base.html.twig' %}

{% block body %}
    <br>
    <section class="section extra-margins">

        {% for article in articles %}
            <div class="row">
                <div class="col-md-5 mb-r">
                    <div class="view overlay hm-white-slight">
                        <img src="{{ asset(article.coverImage.webPath) }}">
                        <a>
                            <div class="mask"></div>
                        </a>
                    </div>
                </div>
                <div class="col-md-7 mb-r">
                    <h4>{{ article.title }}</h4>
                    {% set content = formation.description|slice(0, 200)~"..." %}
                    <p>{{ content }}</p>
                    <p>par <a><strong>{{ article.writtenBy }}</strong></a>, {{ article.publicationDate|date('d/m/Y') }}
                    </p>
                    <a class="btn first-color second-color-text">Lire plus</a>
                </div>
            </div>
            <hr class="renault-primary">
        {% else %}
            <div class="col-md-12 text-center">
                <p>Aucun articles</p>
            </div>
        {% endfor %}
    </section>
{% endblock %}