{% extends ':site-structure:base.html.twig' %}

{% block title %}
    Articles
{% endblock %}

{% block description %}
    Articles sur l'automobile, la mécanique et l'actualité
{% endblock %}

{% block body %}
    <br>
    <section class="section extra-margins">
        {% for article in articles %}
            {% if loop.index % 2 == 0 %}
                <div class="row">
                    <div class="col-md-5 mb-r">
                        <div class="view overlay hm-white-slight">
                            <img src="{{ asset(article.coverImage.webPath) }}">
                            <a>
                                <div class="mask"></div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-7 mb-r">
                        <h4>{{ article.title }}</h4>
                        <p>{{ article.introduction }}</p>
                        <p>par <a><strong>{{ article.writtenBy }}</strong></a>, le {{ article.publicationDate|date('d/m/Y') }}
                        </p>
                        <a class="btn first-color second-color-text" href="{{ path("article", {'id': article.id}) }}">Lire plus</a>
                    </div>
                </div>
                {% else %}
                    <div class="row">
                        <div class="col-md-7 mb-r">
                            <h4>{{ article.title }}</h4>
                            <p>{{ article.introduction }}</p>
                            <p>par <a><strong>{{ article.writtenBy }}</strong></a>, le {{ article.publicationDate|date('d/m/Y') }}
                            </p>
                            <a class="btn first-color second-color-text" href="{{ path("article", {'id': article.id}) }}">Lire plus</a>
                        </div>
                        <div class="col-md-5 mb-r">
                            <div class="view overlay hm-white-slight">
                                <img src="{{ asset(article.coverImage.webPath) }}">
                                <a>
                                    <div class="mask"></div>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            <hr class="renault-primary">
        {% else %}
            <div class="col-md-12 text-center">
                <p>Aucun articles</p>
            </div>
        {% endfor %}
    </section>
{% endblock %}