
<div class="card card-voiture">
    <div class="voiture-image view overlay hm-white-slight z-depth-1">
        <img src="{{ asset(car.coverImage.webPath) }}" class="img-fluid" alt="">
        <a>
            <div class="mask"></div>
        </a>
        <div class="status {{ car.status.tagcss }}">
            {{ car.status.status }}
        </div>
    </div>

    <div class="card-block">
        <h4 class="card-title text-sm-left"><strong><a href="{{ path("voiture", {'id': car.id}) }}" class="fourth-color-text">{{ car.title }}</a></strong></h4>
        <p class="card-text text-sm-center hidden-sm-down">
            <i class="material-icons">timeline</i> {{ car.km }} Km
            <br>
            <i class="material-icons">local_gas_station</i> {{ car.fuel }}
        </p>
        <br>
        <div class="text-sm-right">
            <a href="{{ path("voiture", {'id': car.id}) }}" class="renault-link">Détails<i class="fa fa-chevron-right" aria-hidden="true"></i></a>
        </div>
        <br>
        <div class="card-footer">
            <span class="left">{{ car.price }}€</span>
            <span class="right hidden-sm-down">Occasion</span>
        </div>
    </div>
</div>