{% extends 'base.html.twig' %}

{% block header %}
    <div class="car-header fourth-color">
        <div class="streak streak-photo" style="background-image: url('{{ car.coverImage.webPath }}')">
            <div class="container">
                <div class="car-title-header col-md-3">
                    <p class="h2-responsive wow fadeIn header-1">{{ car.model }}</p>
                    <p class="header-2">{{ car.title }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <br>
    <div class="row">
        <div class="col-md-6 text-xs-left">
            <div>
                A partir de :
                {{ car.price }} €
            </div>
            <div>
                {% if car.pricePerMonth %}
                    Mensualité de :
                    {{ car.pricePerMonth }} €
                {% endif %}
                <p>Un crédit vous engage et doit être remboursé. Vérifiez vos capacités de remboursement avant de vous engager.</p>
                <a href="" class="renault-link">financez</a>
            </div>
        </div>
        <div class="col-md-6 text-xs-right">
            <a href="" class="btn btn-large btn-renault-tertiary-grey">Réserver un essai</a>
        </div>
    </div>
{% endblock %}