{% extends ':site-structure:base_index.html.twig' %}

{% block body %}
    <div class="view hm-black-strong fullscreen-index">
        <div class="full-bg-img d-flex flex-column justify-content-between">
            <div class="container"></div>
            <div class="container">
                <div class="col-md-6 description">
                    <h2 class="h2-responsive wow fadeInLeft ">{{ homepage.title }}</h2>
                    <hr class="first-color">
                    <p class="wow fadeInLeft" data-wow-delay="0.4s">{{ homepage.welcomeParagraph }}</p>
                </div>
            </div>
            <div class="container text-center">
                <div class="smooth-scroll">
                    <a id="btn-enter-index" href="#enter" class="btn btn-large btn-renault-primary">Entrer <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div >
        <div id="enter">
            <br>
            <br>
        </div>
        <div id="section_1" class="container content-section">
            <div class="col-md-12">

                <br>
                <h1 class="flex-center">{{ homepage.titleCarSales }}</h1>
                <p>{{ homepage.descriptionCarSales }}</p>
                <div class="video-container">
                    <iframe src="{{ homepage.videoUrl }}" frameborder="0" allowfullscreen></iframe>
                </div>
                <br>
                    {% include ":elements:new_cars_displayer.html.twig" with {'particuliers': particuliers, 'utilitaires': utilitaires, 'electriques': electriques} %}
                    <hr class="renault-primary half-with">
                <h3 class="text-xs-left">{{ homepage.titleCarSalesSecondHand }} <a class="btn btn-large btn-renault-primary" href="{{ path("cars") }}">Voir toute les voitures <i
                                class="fa fa-angle-right" aria-hidden="true"></i></a></h3>
                <br>
                <div class="row">
                {% for secondhandcar in secondhandcars|slice(0, 2) %}
                    <div class="col-md-4">
                        {% include ':elements:secondhand_car_card.html.twig' with {'car': secondhandcar} %}
                    </div>
                {% else %}
                    <div class="col-md-12 text-sm-center">
                        <p>Aucunes voitures d'occasions</p>
                    </div>
                {% endfor %}
                </div>
                <br>
                <div class="col-md-12 d-flex justify-content-center button-bottom-row smooth-scroll">
                    <a href="#section-1" class="btn btn-large btn-renault-primary">Voir le garage <i
                            class="fa fa-angle-right" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>

        <div class="new-parallax fourth-color" id="section-1">
            <div class="streak streak-photo">
                <div class="flex-center white-text">
                    <ul>
                        <li><h2 class="h2-responsive wow fadeIn">{{ garage.name }}</h2></li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="section_2" class="container content-section">
            <div id="le-garage" class="col-md-12 flex-center flex-column">
                <h1><img src="{{ asset("media/design/logo-renault.png") }}" alt=""></h1>
                <div class="col-md-12 flex-center flex-column flex-md-row flex-lg-row">
                    <div class="">
                        <p class="text-xs-left">{{ garage.description }}</p>
                    </div>
                    <div class="">
                        <figure class="figure">
                            <img src="{{ asset(garage.image.webPath) }}" class="figure-img img-fluid" alt="{{ garage.name }}">
                            <figcaption class="figure-caption float-right">{{ garage.name }}</figcaption>
                        </figure>
                    </div>
                </div>

                <div class="col-md-12 d-flex justify-content-center button-bottom-row smooth-scroll">
                    <a href="#section-2" class="btn btn-large btn-renault-primary">Nos prestations <i
                                class="fa fa-angle-right" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>

        <div class="new-parallax fourth-color" id="section-2">
            <div class="streak streak-photo"
                 style="background-image:url('{{ asset("media/design/atelier-1.jpg") }}')">
                <div class="flex-center white-text">
                    <ul>
                        <li><h2 class="h2-responsive wow fadeIn">{{ homepage.titleServices }}</h2></li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="section_3" class="container content-section">
            <p class="text-center">{{ homepage.descriptionServices }}</p>
            <div class="row-centered">
                {%  for service in services %}
                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-centered">
                        <div class="card card-prestations">
                            <div class="card-background">
                                <img src="{{ asset(service.icon.webPath) }}" alt="{{  service.name }}">
                            </div>
                            <div class="card-block text-center hidden-sm-down">
                                <h4 class="second-color-text text-fluid">{{  service.name }}</h4>
                            </div>
                            <div class="card-footer text-center">
                                <p>A partir de {{ service.price }} €</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="col-md-12 d-flex justify-content-center button-bottom-row smooth-scroll">
                <a href="#section-3" class="btn btn-large btn-renault-primary">Voir l'équipe<i
                            class="fa fa-angle-right" aria-hidden="true"></i></a>
            </div>
        </div>

        <div class="new-parallax fourth-color" id="section-3">
            <div class="streak streak-photo">
                <div class="flex-center white-text">
                    <ul>
                        <li><h2 class="h2-responsive wow fadeIn">{{ homepage.titleTeam }}</h2></li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="section_3" class="section container content-section team-section">
            <div>
                <p class="section-description">{{ homepage.descriptionTeam }}</p>
                <div class="row flex-center text-center">
                    {% for employee in employees %}
                        <div class="col-6 col-sm-6 col-md-3 col-lg-4 mb-r">
                            <div class="testimonial">
                                <div class="avatar">
                                    <img src="{{ asset(employee.image.webPath) }}"
                                         class="rounded-circle img-fluid">
                                </div>
                                <h4>{{ employee.name }} {{ employee.lastname }}</h4>
                                <h5>{{ employee.jobTitle }}</h5>
                                <p>{{ employee.description }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %} {{ parent() }}
    <script>new WOW().init();</script>
{% endblock %}

