{% extends 'base_index.html.twig' %}

{% block body %}
    <div class="view hm-black-strong fullscreen-index">
        <div class="full-bg-img d-flex flex-column justify-content-center">
            <div class="container">
                <div class="col-md-6 description">
                    <h2 class="h2-responsive wow fadeInLeft ">Garage HERITIER</h2>
                    <hr class="first-color">
                    <p class="wow fadeInLeft" data-wow-delay="0.4s">Lorem ipsum dolor sit amet, consectetur
                        adipisicing elit. Rem repellendus quasi fuga nesciunt dolorum nulla magnam veniam
                        sapiente, fugiat! Commodi sequi non animi ea dolor molestiae, quisquam iste, maiores.
                        Nulla.</p>
                </div>
            </div>
            <div class="container">
                <div class="smooth-scroll">
                    <a id="btn-enter-index" href="#enter" class="btn btn-large btn-renault-primary">Entrer <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div >
        <div id="enter">
            <br>
            <br>
        </div>
        <div id="section_1" class="container content-section">
            <div class="col-md-12">

                <br>
                <h1 class="flex-center">Ventes de voitures</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, consequatur doloremque ea eligendi expedita fugiat, illum inventore maxime optio perspiciatis porro recusandae sapiente. Corporis eligendi exercitationem porro ratione rerum sequi?</p>
                <div class="video-container">
                    <iframe src="https://www.youtube.com/embed/gNX9ktDjV4s" frameborder="0" allowfullscreen></iframe>
                </div>
                <br>
                    {% include ":default:tabsnewcars.html.twig" with {'particuliers': particuliers, 'utilitaires': utilitaires, 'electriques': electriques} %}
                    <hr class="renault-primary half-with">
                <h3 class="text-xs-left">Les dernières voitures d'occasion <a class="btn btn-large btn-renault-primary" href="{{ path("voitures") }}">Voir toute les voitures <i
                                class="fa fa-angle-right" aria-hidden="true"></i></a></h3>
                <br>
                <div class="row">
                {% for i in 0..2 %}
                    <div class="col-md-4">
                        {% include 'default/cardvoiture.html.twig' %}
                    </div>
                {% endfor %}
                </div>
                <br>
                <div class="col-md-12 d-flex justify-content-center button-bottom-row smooth-scroll">
                    <a href="#section-1" class="btn btn-large btn-renault-primary">Voir le garage <i
                            class="fa fa-angle-right" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>

        <div class="new-parallax fourth-color" id="section-1">
            <div class="streak streak-photo">
                <div class="flex-center white-text">
                    <ul>
                        <li><h2 class="h2-responsive wow fadeIn">Garage GABAY</h2></li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="section_2" class="container content-section">
            <div id="le-garage" class="col-md-12 flex-center flex-column">
                <h1><img src="{{ asset("media/design/logo-renault.png") }}" alt=""></h1>
                <br>
                <p class="text-xs-left">{{ garage.description }}
                </p>
                <figure class="figure">
                    <img src="{{ asset(garage.image.webPath) }}" class="figure-img img-fluid" alt="{{ garage.name }}">
                    <figcaption class="figure-caption float-right">{{ garage.name }}</figcaption>
                </figure>
                <div class="col-md-12 d-flex justify-content-center button-bottom-row smooth-scroll">
                    <a href="#section-2" class="btn btn-large btn-renault-primary">Nos prestations <i
                                class="fa fa-angle-right" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>

        <div class="new-parallax fourth-color" id="section-2">
            <div class="streak streak-photo"
                 style="background-image:url('{{ asset("media/design/atelier-1.jpg") }}')">
                <div class="flex-center white-text">
                    <ul>
                        <li><h2 class="h2-responsive wow fadeIn">Nos
                                prestations</h2></li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="section_3" class="container content-section">
            <p class="text-xs-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error
                amet
                numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam eum porro a
                pariatur
                accusamus veniam. Quia, minima?</p>
            <div class="row-centered">
                {%  for service in services %}
                    <div class="col-xs-6 col-md-3 col-centered">
                        <div class="card card-prestations">
                            <div class="card-background">
                                <img src="{{ asset(service.icon.webPath) }}" alt="{{  service.name }}">
                            </div>
                            <div class="card-block text-xs-center">
                                <h4 class="second-color-text text-fluid">{{  service.name }}</h4>
                            </div>
                            <div class="card-footer text-xs-center">
                                <p>A partir de {{ service.price }} €</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="col-md-12 d-flex justify-content-center button-bottom-row smooth-scroll">
                <a href="#section-3" class="btn btn-large btn-renault-primary">Voir l'équipe<i
                            class="fa fa-angle-right" aria-hidden="true"></i></a>
            </div>
        </div>

        <div class="new-parallax fourth-color" id="section-3">
            <div class="streak streak-photo">
                <div class="flex-center white-text">
                    <ul>
                        <li><h2 class="h2-responsive wow fadeIn">L'équipe</h2></li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="section_3" class="section container content-section team-section">
            <div>
                        <p class="section-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error
                            amet
                            numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam eum porro a
                            pariatur
                            accusamus veniam. Quia, minima?</p>
                        <div class="row text-xs-center">
                            <div class="col-md-4 mb-r">
                                <div class="testimonial">
                                    <div class="avatar">
                                        <img src="{{ asset("media/design/collaborator-1.jpg") }}"
                                             class="rounded-circle img-fluid">
                                    </div>
                                    <h4>Anna Deynah</h4>
                                    <h5>Gérant</h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic
                                        tenetur quae
                                        quaerat ad velit ab.</p>
                                </div>
                            </div>
                            <div class="col-md-4 mb-r">
                                <div class="testimonial">
                                    <div class="avatar">
                                        <img src="{{ asset("media/design/collaborator-2.jpeg") }}"
                                             class="rounded-circle img-fluid">
                                    </div>
                                    <h4>John Doe</h4>
                                    <h5>Textile</h5>
                                    <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam,
                                        nisi ut
                                        aliquid ex ea commodi.</p>
                                </div>
                            </div>
                            <div class="col-md-4 mb-r">
                                <div class="testimonial">
                                    <div class="avatar">
                                        <img src="{{ asset("media/design/collaborator-3.jpeg") }}"
                                             class="rounded-circle img-fluid">
                                    </div>
                                    <h4>Maria Kate</h4>
                                    <h5>Mecanicien</h5>
                                    <p><i class="fa fa-quote-left"></i> At vero eos et accusamus et iusto odio dignissimos
                                        ducimus qui
                                        blanditiis praesentium voluptatum deleniti atque corrupti.</p>
                                </div>
                            </div>
                        </div>
                </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %} {{ parent() }}
    <script>new WOW().init();</script>
{% endblock %}

