{% extends 'base_index.html.twig' %}

{% block body %}
    <div class="view hm-black-strong">
        <div class="full-bg-img flex-center">
            <div class="container">
                <div class="row" id="home">
                    <div class="col-md-6">
                        <div class="description">
                            <h2 class="h2-responsive wow fadeInLeft">Garage GABAY</h2>
                            <hr class="first-color">
                            <p class="wow fadeInLeft" data-wow-delay="0.4s">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem repellendus quasi fuga nesciunt dolorum nulla magnam veniam sapiente, fugiat! Commodi sequi non animi ea dolor molestiae, quisquam iste, maiores. Nulla.</p>
                        </div>
                    </div>
                    <div class="col-md-12 text-xs-center button-bottom-row smooth-scroll">
                        <a id="btn-enter-index" href="#section_1" class="btn btn-large first-color second-color-text bold"><i class="fa fa-angle-down" aria-hidden="true"></i> Entrer</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="skrollr-body">
        <div id="section_1" class="container">
            <section class="section team-section">
                <h1 class="section-heading">L'équipe</h1>
                <p class="section-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error
                    amet
                    numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam eum porro a
                    pariatur
                    accusamus veniam. Quia, minima?</p>
                <div class="row text-xs-center">
                    <div class="col-md-4 mb-r">
                        <div class="testimonial">
                            <div class="avatar">
                                <img src="{{ asset("media/design/collaborator-1.jpg") }}"
                                     class="rounded-circle img-fluid">
                            </div>
                            <h4>Anna Deynah</h4>
                            <h5>Gérant</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic
                                tenetur quae
                                quaerat ad velit ab.</p>
                            <div>
                                <a class="icons-sm drib-ic"><i class="fa fa-dribbble"> </i></a>
                                <a class="icons-sm li-ic"><i class="fa fa-linkedin"> </i></a>
                                <a class="icons-sm gplus-ic"><i class="fa fa-google-plus"> </i></a>
                                <a class="icons-sm ins-ic"><i class="fa fa-instagram"> </i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-r">
                        <div class="testimonial">
                            <div class="avatar">
                                <img src="{{ asset("media/design/collaborator-2.jpeg") }}"
                                     class="rounded-circle img-fluid">
                            </div>
                            <h4>John Doe</h4>
                            <h5>Textile</h5>
                            <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam,
                                nisi ut
                                aliquid ex ea commodi.</p>
                            <div class="orange-text">
                                <a class="icons-sm drib-ic"><i class="fa fa-dribbble"> </i></a>
                                <a class="icons-sm li-ic"><i class="fa fa-linkedin"> </i></a>
                                <a class="icons-sm gplus-ic"><i class="fa fa-google-plus"> </i></a>
                                <a class="icons-sm ins-ic"><i class="fa fa-instagram"> </i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-r">
                        <div class="testimonial">
                            <div class="avatar">
                                <img src="{{ asset("media/design/collaborator-3.jpeg") }}"
                                     class="rounded-circle img-fluid">
                            </div>
                            <h4>Maria Kate</h4>
                            <h5>Mecanicien</h5>
                            <p><i class="fa fa-quote-left"></i> At vero eos et accusamus et iusto odio dignissimos
                                ducimus qui
                                blanditiis praesentium voluptatum deleniti atque corrupti.</p>
                            <div class="orange-text">
                                <a class="icons-sm drib-ic"><i class="fa fa-dribbble"> </i></a>
                                <a class="icons-sm li-ic"><i class="fa fa-linkedin"> </i></a>
                                <a class="icons-sm gplus-ic"><i class="fa fa-google-plus"> </i></a>
                                <a class="icons-sm ins-ic"><i class="fa fa-instagram"> </i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div class="parallax-n" id="section-1">
            <div class="background"
                 data-center="background-position: 50% 20%"
                 data-top-bottom="background-position: 50% 40%"
                 data-bottom-top="background-position: 50% 0%"
                 data-anchor-target="#section-1"></div>
        </div>

        <div class="container">
            <div class="col-md- text-xs-center">
                <h1>Le garage</h1>
                <br>
                <div class="flex-center">
                    <div class="col-md-6 text-xs-left">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad
                        autem
                        consequatur cupiditate eaque, enim, eum id in itaque libero quae reiciendis suscipit. Beatae
                        expedita
                        laborum maiores odit qui velit voluptatibus. Lorem ipsum dolor sit amet, consectetur adipisicing
                        elit.
                        Corporis culpa cum et expedita nam officiis perferendis praesentium quaerat sunt tempora. A ad
                        consequatur id laborum mollitia nostrum quisquam quos repellendus.</p>
                        <br>
                        <div class="text-xs-center"><a href="{{ path("apropos") }}"
                                                       class="btn btn-large first-color second-color-text"><i
                                        class="fa fa-angle-right" aria-hidden="true"></i> Lire plus</a></div>

                    </div>
                    <div class="col-md-6"><img src="{{ asset("media/design/garage.jpg") }}" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>

        <div class="parallax-n" id="section-2">
            <div class="background"
                 data-center="background-position: 50% 20%"
                 data-top-bottom="background-position: 50% 40%"
                 data-bottom-top="background-position: 50% 0%"
                 data-anchor-target="#section-2"></div>
        </div>

        <div class="container">
            <div class="col-md-12 text-xs-center">
                <h1>Les voitures</h1>
                <br>
                {% for i in 0..2 %}
                    <div class="col-md-4">
                        {% include 'default/cardvoiture.html.twig' %}
                    </div>
                {% endfor %}
                <a href="{{ path("voitures") }}" class="btn btn-large first-color second-color-text"><i
                            class="fa fa-angle-right" aria-hidden="true"></i> Voir plus de voitures</a>
            </div>
        </div>

        <div class="parallax-n" id="section-3">
            <div class="background"
                 data-center="background-position: 50% 20%"
                 data-top-bottom="background-position: 50% 40%"
                 data-bottom-top="background-position: 50% 0%"
                 data-anchor-target="#section-3"></div>
        </div>

        <div class="container">
            <div class="col-md-12 text-xs-center">
                <h2>Partenaires</h2>

            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %} {{ parent() }}
    <script>new WOW().init();</script>
    <script>
        /*$(document).ready(function() {
         var top;
         $(window).scroll(function() {
         top = ($(window).scrollTop() * 0.4) + 'px';
         $('.parallax-n .background').css({
         'background-position': '0 ' + top
         });
         });

         });*/
        var s = skrollr.init({forceHeight: false});
        /*s.refresh($('.parallax-n'));*/
    </script>

{% endblock %}

