{% extends ':site-structure:base.html.twig' %}

{% block title %}
    {{ car.title }}
{% endblock %}

{% block description %}
    {{ car.title }}
{% endblock %}

{% block header %}
    <div class="car-header fourth-color">
        <div class="streak streak-photo" style="background-image: url('{{ car.coverImage.webPath }}')">
            <div class="container">
                <div class="car-title-header col-md-3">
                    <p class="h2-responsive wow fadeIn header-1">{{ car.model }}</p>
                    <p class="header-2">{{ car.title }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <br>
    <div class="row">
        <div class="col-md-6 text-sm-left d-flex flex-row">
            <div class="new-car-price">
                <p><span class="renault-sub-heading">A partir de :</span><br>
                <span class="bold">{{ car.price }} €</span></p>
            </div>
            <div class="new-car-price-per-month">
                <p>
                {% if car.pricePerMonth %}
                    <span class="renault-sub-heading">Mensualité de :</span><br>
                    <span class="bold">{{ car.pricePerMonth }} € sur {{ car.duration }} mois </span><br>
                {% endif %}
                <span class="small renault-italic">Un crédit vous engage et doit être remboursé. Vérifiez vos capacités de remboursement avant de vous engager.</span></p>
                <!--<a href="" class="renault-link">financez</a>-->
            </div>
        </div>
        <div class="col-md-6 text-sm-right">
            <a href="" class="btn btn-large btn-renault-secondary " onclick="toastr.warning('Non disponible');">Etre contacté</a>
            <br>
            <a href="" class="btn btn-large btn-renault-secondary " onclick="toastr.warning('Non disponible');">Réserver un essai</a>
        </div>
    </div>
    <hr>
    <div class="d-flex justify-content-between">
        <a href="{{ path("cars") }}" class="btn btn-large btn-renault-primary">Toutes les voitures</a>
        <a href="{{ car.renaultLink }}" class="btn btn-large btn-renault-tertiary-grey">Voir sur Renault.fr</a>
    </div>
{% endblock %}